[Desktop Entry]
Version=2.4
Type=Application
Name=CloudCompare
Comment=Meshing tool
TryExec=CloudCompare
Exec=CloudCompare %F
Icon=cc_icon
MimeType=model/mesh;
