Source: cloudcompare
Section: graphics
Priority: extra
Maintainer: Romain Janvier <romain.janvier@hotmail.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, libqt4-dev (>= 4.7), libqt4-opengl-dev (>= 4.7), libglew-dev, libboost-thread-dev (>= 1.38), liblas-dev (>= 1.2), libboost-program-options-dev (>= 1.38) 
Standards-Version: 3.9.4
Homepage:http://www.danielgm.net/cc/
Vcs-Git: git://github.com/archeos/cloudcompare-archeos.git
Vcs-Browser: https://github.com/archeos/cloudcompare-archeos

Package: cloudcompare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 3D point cloud and mesh processing software
 From official website : http://www.danielgm.net/cc/
 .
 CloudCompare is a 3D point cloud (and triangular mesh) 
 processing software. It has been originally designed to 
 perform comparison between two 3D points clouds 
 (such as the ones obtained with a laser scanner) 
 or between a point cloud and a triangular mesh. 
 .
 It relies on a specific octree structure that enables 
 great performances in this particular function. 
 It was also meant to deal with huge point clouds 
 (typically more than 10 millions points, 
 and up to 120 millions with 2 Gb of memory)
